/* Home Page */

/* Top Navigation */
/* Top Navigation */
.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.topnav li {
  padding: 10px;
}

.topnav a {
  display: block;
  text-decoration: none;
  color: #333;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav .active {
  font-weight: bold;
}
/*top navigation end*/

ul {
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  letter-spacing: 5px;
}

ul li {
  text-align: center;
  display: inline;
  padding: 7px;
}

ul li a {
  display: inline;
}

ul li a:hover {
  text-decoration: none;
  font-style: italic;
  color: black;
}
/* End of Top Navigation */

/* Main Body */
.main {
  margin: auto;
  display: block;
  max-width: 75%;
  margin-top: 20px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 17px;
  text-align: left; /* Align the text to the left */
}

.main h2 {
  font-size: 28px;
  font-weight: lighter;
}

.main a:hover {
  text-decoration: none;
}

.section {
  display: flex;
  justify-content: space-between;
}

.education,
.research {
  width: 45%;
}

/* Education */
.education h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Research Interests */
.research h2 {
  font-size: 24px;
  font-weight: bold;
}

.research .bullet-list {
  margin-left: 20px;
  font-size: 17px;
  line-height: 1.5;
}

.research .bullet-list div {
  margin-bottom: 10px;
}

/* End of Main Body */

/* Title + Title Icons */
.title {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  margin: 0 auto; /* Center align the title */
  max-width: 75%; /* Limit the width of the title */
}

/* Profile Picture */
.profile-picture {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px auto 20px; /* Update the margin values as per your preference */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Icons Under Title */
.linkicons {
  text-align: center;
  margin-bottom: 50px; /* Update the margin-bottom value as per your preference */
}

.linkicons a {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
  vertical-align: top;
}

.linkicons a:hover {
  text-decoration: none;
}

.linkicons {
  text-align: center;
}

.linkicons a {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
  vertical-align: top;
}

.linkicons a:hover {
  text-decoration: none;
}
/* End of Title + Title Icons */

/* Icons */
.mail:hover .envelope-o,
.mail .envelope-open-o {
  display: none;
  vertical-align: top;
}

.mail:hover .envelope-open-o {
  display: inline;
  color: dodgerblue;
  text-decoration: none;
}

.envelope-o {
  vertical-align: top;
  text-align: center;
}

.linkedin {
  vertical-align: top;
  text-align: center;
}

.linkedin:hover {
  color: rgb(42, 120, 238);
}

.instagram {
  vertical-align: top;
  text-align: center;
}

.instagram:hover {
  color: rgb(202, 70, 70);
}

.github {
  vertical-align: top;
  text-align: center;
}

.facebook {
  vertical-align: top;
  text-align: center;
}

.facebook:hover {
  color: rgb(3, 58, 187);
}

.google-scholar {
  vertical-align: top;
  text-align: center;
  margin-top: 0px; /* Adjust the margin value as per your preference */
}
/* End of Icons */

/* Footer */
footer {
  background-color: rgb(49, 48, 48);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 10px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer a {
  font-size: 15px;
  letter-spacing: 2px;
  color: whitesmoke;
}

footer a:hover {
  text-decoration: none;
}

footer a:visited {
  color: whitesmoke;
}

footer h3 {
  font-size: 15px;
  color: whitesmoke;
}
/* End of Footer */

/* Schedule Page */
.termtables {
  max-width: 100%;
  margin: auto;
  margin-bottom: 100px;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center; /* Center align the tables */
}

.termtables th {
  font-weight: 500;
  line-height: 16px;
  padding-top: 40px;
}

.termtables td {
  font-weight: 200;
}

.coursename {
  font-size: 10px;
  padding-top: -10px;
  line-height: 12px;
}

.coursecode {
  font-size: 15px;
  padding-top: 5px;
}

.column {
  width: 100%;
  max-width: 600px; /* Limit the maximum width of the columns */
  height: auto;
  margin: auto; /* Center align the columns */
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.row h4 {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}

.row {
  margin-bottom: 100px;
}

.column li {
  font-size: 20px;
  font-weight: 300;
}

.column td {
  font-size: 100px;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 55%; /* Reduce the max-width on larger screens */
  }
}


/* Projects Page */



.projects {
  margin: auto;
  margin-top: 20px;
  max-width: 75%;
  font-family: "Nanum Gothic", sans-serif;
}

.project {
  margin-bottom: 40px;
  display: flex;
}

.project-description {
  flex: 1;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: auto;
  box-sizing: border-box;
}

.project-description h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  background-color: #a89a9a;
  padding: 5px 10px;
  border-radius: 5px;
}

.project-links a:hover {
  background-color: #63c4bf;
}

.tech-used p {
  font-size: 16px;
  margin-bottom: 5px;
}

.project-image {
  width: 200px;
  height: 300px;
  margin-left: 20px; /* Add margin-left to create space between project box and image box */
  border: 4px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
