/* Top Navigation */
.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.topnav li {
  padding: 10px;
}

.topnav a {
  display: block;
  text-decoration: none;
  color: #333;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav .active {
  font-weight: bold;
}
/* End of Top Navigation */

/* Main Body */
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

p, ul, li {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
}

.main {
  margin: auto;
  display: block;
  max-width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.section {
  display: flex;
  justify-content: space-between;
}

.education,
.research {
  width: 45%;
}

.education h2,
.research h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.research .bullet-list {
  margin-left: 20px;
  font-size: 17px;
  line-height: 1.5;
}

.research .bullet-list div {
  margin-bottom: 10px;
}

.title {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  margin: 0 auto;
  max-width: 75%;
}

.profile-picture {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 50px auto 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkicons {
  text-align: center;
  margin-bottom: 50px;
}

.linkicons a {
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
  vertical-align: top;
}

.linkicons a:hover {
  text-decoration: none;
}

.experience {
  margin-top: 10px;
}

.experience-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.experience-list {
  margin-left: 0;
  padding-left: 20px;
}

.experience-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


/* Footer */
footer {
  background-color: rgb(49, 48, 48);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 10px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer a {
  font-size: 15px;
  letter-spacing: 2px;
  color: whitesmoke;
}

footer a:hover {
  text-decoration: none;
}

footer a:visited {
  color: whitesmoke;
}

footer h3 {
  font-size: 15px;
  color: whitesmoke;
}

/* Schedule Page */
.termtables {
  max-width: 100%;
  margin: auto;
  margin-bottom: 100px;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
}

.termtables th {
  font-weight: 500;
  line-height: 16px;
  padding-top: 40px;
}

.termtables td {
  font-weight: 200;
}

.coursename {
  font-size: 10px;
  padding-top: -10px;
  line-height: 12px;
}

.coursecode {
  font-size: 15px;
  padding-top: 5px;
}

.column {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.row h4 {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}

.row {
  margin-bottom: 100px;
}

.column li {
  font-size: 20px;
  font-weight: 300;
}

.column td {
  font-size: 100px;
  font-weight: 100;
}



@media screen and (min-width: 768px) {
  .main {
    max-width: 50%; /* Reduce the max-width on larger screens */
  }
}



/* Projects Page */



.projects {
  margin: auto;
  margin-top: 100px;
  max-width: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

.projects h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 40px;
  display: flex;
}

.project-description {
  flex: 1;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 300px;
  box-sizing: border-box;
  margin: 5px; /* Adjust the margin value as per your preference */
  max-width: 800px; /* Adjust the max-width value as per your preference */
}

@media screen and (max-width: 1500px) {
  .project-description {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 500px;
  }
}




.project-description h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.project-description p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  background-color: #a89a9a;
  padding: 5px 10px;
  border-radius: 5px;
}

.project-links a:hover {
  background-color: #63c4bf;
}

.tech-used p {
  font-size: 16px;
  margin-bottom: 5px;
}

.project-image {
  width: 200px;
  height: 300px;
  margin-left: 20px; /* Add margin-left to create space between project box and image box */
  border: 4px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px; /* Add margin-top to move the images downward */
}

.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

/* Achievement Cards */
.achievement-card {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.achievement-card:hover {
  transform: translateY(-5px);
}

.achievement-image {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.achievement-image img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.achievement-details {
  padding: 20px;
}

.achievement-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.achievement-details p {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}

/* Updated CSS */

/* ... Your existing CSS code ... */

.achievement-card:hover .achievement-details {
  display: block;
}

.achievement-details {
  display: none;
}
